<section class="container-fluid">

  <!------------- Add Create Button ------------>
  <!-- <button mat-mini-fab color="primary" class="main-add-btn">
    <i class="material-icons">add</i>
  </button> -->

  <!----- Add Row ----->
  <div class="row">
    <!--*************************************************************************************************************
                                                Complete Show Card
  **************************************************************************************************************-->
    <!----- Add Column ----->
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 m-0 p-0" *ngFor="let item of [0,1,2,3]">
      <div class="card pickup-card">
        <!------------------------ Header Title Content --------------------->
        <ng-container>
          <div class="d-flex justify-content-between align-items-center pickup-header-space">
            <div class="d-flex align-items-center">
              <h5 class="pickup-h5-text">
                <i class="material-icons pickup-icon">my_location</i>
                <b>Panjagutta Road(Area Name)</b>
              </h5>
            </div>
            <div class="d-flex align-items-center hover-to-show">
              <span>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch1">
                  <label class="custom-control-label" for="switch1" style="cursor: pointer!important;"></label>
                </div>
              </span>
              <i class="material-icons pickup-action" style="color: #0014CA;">edit</i>
              <i class="material-icons pickup-action" style="color: #F60000;">delete</i>
            </div>
          </div>
        </ng-container>
        <!----- Edit Mode ----->
        <!-- <ng-container>
          <div class="d-flex justify-content-between align-items-center pickup-header-space">
            <input type="text" placeholder="enter area name" class="edit-input">
            <button mat-mini-fab class="save-button">
              <i class="material-icons">save</i>
            </button>
          </div>
        </ng-container> -->

        <!----- Add HR Line ----->
        <hr class="pickup-Header-Hr">

        <!------------------------- Body Content ----------------------->
        <ng-container *ngFor="let p of [0,1,2]">
          <ng-container>
            <div class="pickup-card-body">
              <div class="pickup-body-content">
                <div class="d-flex align-items-center">
                  <h4 class="pickup-body-text">
                    <i class="material-icons pickup-icon">pin_drop</i>
                    <b>Moinabad Road (PP)</b>
                  </h4>
                </div>
                <div class="d-flex align-items-center hover-to-show">
                  <span>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch1">
                      <label class="custom-control-label" for="switch1" style="cursor: pointer!important;"></label>
                    </div>
                  </span>
                  <i class="material-icons pickup-action" style="color: #0014CA;">edit</i>
                  <i class="material-icons pickup-action" style="color: #F60000;">delete</i>
                </div>
              </div>
            </div>
          </ng-container>
          <!------------ Edit Mode ----------->
          <!-- <ng-container>
            <div class="pickup-card-body">
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" placeholder="enter pickup-point" class="edit-input">
                <button mat-mini-fab class="save-button">
                  <i class="material-icons">save</i>
                </button>
              </div>
            </div>
          </ng-container> -->

          <!------------- Bus Root ------------>
          <ng-container *ngFor="let item of [0,1]">
            <div class="but-root-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="flex-item">
                  <h6 class="bus-root-text">
                    <i class="material-icons bus-root-icon">directions_bus</i>
                    <b>Bus root name (Bus Root)</b>
                  </h6>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <!------------ Add Pickup-Point Button ----------->
        <div class="d-flex align-items-center justify-content-between pickup-btn-group">
          <button mat-raised-button class="add-pickup-btn">Add Pickup</button>
        </div>
      </div>
    </div>



    <!--*************************************************************************************************************
                                                Complete Show Card
  **************************************************************************************************************-->
    <!----- Add Column ----->
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 m-0 p-0" *ngFor="let item of [1]">
      <div class="card pickup-card">
        <!------------------------ Header Title Content --------------------->
        <ng-container>
          <div class="d-flex justify-content-between align-items-center pickup-header-space">
            <div class="flex-item">
              <input type="text" placeholder="enter area name" class="edit-input">
            </div>
            <div class="flex-item d-flex align-items-center">
              <i class="material-icons pp-action" style="color: #F60000;">delete</i>
            </div>
          </div>
        </ng-container>

        <!----- Add HR Line ----->
        <hr class="pickup-Header-Hr">

        <!------------------------- Body Content ----------------------->
        <ng-container *ngFor="let item of [0,1,2]">
          <div class="pickup-card-body">
            <div class="d-flex justify-content-between align-items-center">
              <input type="text" placeholder="enter pickup-point" class="edit-input">
              <div>
                <i class="material-icons pp-action" style="color: #F60000;">delete</i>
              </div>
            </div>
          </div>
        </ng-container>


        <!------------ Add Pickup-Point Button ----------->
        <div class="d-flex align-items-center justify-content-between pickup-btn-group">
          <button mat-raised-button class="add-pickup-btn">Add Pickup</button>
          <button mat-raised-button class="submit-pickup-btn">Add</button>
        </div>
      </div>
    </div>


    <!--*************************************************************************************************************
                                                Complete Show Card
  **************************************************************************************************************-->
    <!----- Add Column ----->
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 m-0 p-0" *ngFor="let item of [1]">
      <div class="card pickup-card">
        <!-------- Area Header ------->
        <h5 class="add-area-title">Add Area</h5>

        <!----- Add HR Line ----->
        <hr class="pickup-Header-Hr">

        <!--------- Add Area UI -------->
        <ng-container>
          <div class="new-pickup-card-body">
            <!------ Add Area Input ------>
            <div class="form-group">
              <input type="text" class="form-control new-area-input" placeholder="Enter Area Name">
            </div>
            <!------ Add Area Button ------>
            <div class="d-flex align-items-center justify-content-center">
              <button mat-raised-button class="submit-pickup-btn">Add Area</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</section>
