<section class="container-fluid">

  <!----- Add Row ----->
  <div class="row">
    <!--*************************************************************************************************************
                                                Complete Show Card
    **************************************************************************************************************-->
    <!----- Add Column ----->
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 m-0 p-0" *ngFor="let item of [0,1,2]">
      <div class="card pickup-card">
        <!------------------------ Header Title Content --------------------->
        <ng-container>
          <div class="d-flex justify-content-between align-items-center pickup-header-space">
            <div class="d-flex align-items-center">
              <h5 class="pickup-h5-text">
                <i class="material-icons pickup-icon">my_location</i>
                <b>Panjagutta Road(Area Name)</b>
              </h5>
            </div>
            <div class="d-flex align-items-center hover-to-show">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1">
                <label class="custom-control-label" for="switch1" style="cursor: pointer!important;"></label>
              </div>
              <i class="material-icons pickup-action" style="color: #0014CA;">edit</i>
              <i class="material-icons pickup-action" style="color: #F60000;">delete</i>
            </div>
          </div>
        </ng-container>
        <!----- Edit Mode ----->
        <!-- <ng-container>
          <div class="d-flex justify-content-between align-items-center pickup-header-space">
            <input type="text" placeholder="enter area name" class="edit-input">
            <button mat-mini-fab class="save-button">
              <i class="material-icons">save</i>
            </button>
          </div>
        </ng-container> -->

        <!----- Add HR Line ----->
        <hr class="pickup-Header-Hr">

        <!------------------------- Body Content ----------------------->
        <ng-container *ngFor="let p of [0,1,2]">
          <ng-container>
            <div class="pickup-card-body">
              <div class="pickup-body-content">
                <div class="d-flex align-items-center">
                  <h4 class="pickup-body-text">
                    <i class="material-icons pickup-icon">pin_drop</i>
                    <b>Moinabad Road (PP)</b>
                  </h4>
                </div>
                <div class="d-flex align-items-center hover-to-show">
                  <span>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch1">
                      <label class="custom-control-label" for="switch1" style="cursor: pointer!important;"></label>
                    </div>
                  </span>
                  <i class="material-icons pickup-action" style="color: #0014CA;">edit</i>
                  <i class="material-icons pickup-action" style="color: #F60000;">delete</i>
                </div>
              </div>
            </div>
          </ng-container>
          <!------------ Edit Mode ----------->
          <!-- <ng-container>
            <div class="pickup-card-body">
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" placeholder="enter pickup-point" class="edit-input">
                <button mat-mini-fab class="save-button">
                  <i class="material-icons">save</i>
                </button>
              </div>
            </div>
          </ng-container> -->

          <!------------- Bus Root ------------>
          <ng-container *ngFor="let item of [0,1]">
            <div class="but-root-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="flex-item">
                  <h6 class="bus-root-text">
                    <i class="material-icons bus-root-icon">directions_bus</i>
                    <b>Bus root name (Bus Root)</b>
                  </h6>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <!------------ Add Pickup-Point Button ----------->
        <div class="d-flex align-items-center justify-content-between pickup-btn-group">
          <button mat-raised-button class="add-pickup-btn">Add Pickup</button>
        </div>
      </div>
    </div>



    <!--*************************************************************************************************************
                                                Complete Show Card
  **************************************************************************************************************-->
    <!----- Add Column ----->
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 m-0 p-0" *ngFor="let item of [1]">
      <div class="card pickup-card">
        <!-------- Area Header ------->
        <h5 class="add-area-title">Add Area</h5>

        <!----- Add HR Line ----->
        <hr class="pickup-Header-Hr">

        <!--------- Add Area UI -------->
        <ng-container>
          <div class="new-pickup-card-body">
            <!------ Add Area Input ------>
            <div class="form-group">
              <input type="text" class="form-control new-area-input" placeholder="Enter Area Name">
            </div>
            <!------ Add Area Button ------>
            <div class="d-flex align-items-center justify-content-center">
              <button mat-raised-button class="submit-pickup-btn">Add Area</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>





<!----------------- ng-pick Owl Date-Time Picker ----------------->
<!-- npm i ng-pick-datetime -->
<!-- import { OwlDateTimeModule, OwlNativeDateTimeModule } from 'ng-pick-datetime'; -->
<!-- <div class="input-with-icon">
  <input [owlDateTime]="dt2" placeholder="Date Time" class="bus-picktime">
  <span [owlDateTimeTrigger]="dt2"><i class="material-icons icon">watch_later</i></span>
  <owl-date-time #dt2></owl-date-time>
</div>

<style>
  .input-with-icon {
    position: relative;
    width: 30%;
    box-sizing: border-box;
  }

  .input-with-icon .bus-picktime {
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12.5px !important;
    background: transparent !important;
    border: 1px solid rgb(219, 219, 219);
  }

  .bus-picktime:focus {
    border: 1px solid #69cfff !important;
    box-shadow: none;
  }

  .bus-picktime::placeholder {
    color: rgb(168, 168, 168);
    font-size: 13px !important;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 0 0 3px 7px;
    text-indent: 0px;
  }

  .input-with-icon .icon {
    top: 5px;
    right: 5px;
    position: absolute;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
</style> -->


<!-- https://daniel-projects.firebaseapp.com/owlng/date-time-picker -->
<!-- https://stackblitz.com/edit/owl-datetimepicker?file=src%2Fapp%2Fbasic%2Fbasic.component.scss -->
