@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.pcoded-content {
  padding: 0px !important;
}

/***************** Pickup Card Header ******************/
.pickup-header-space {
  padding: 0px 15px;
  cursor: pointer;
}
.hover-to-show {
  display: none !important;
}

/*---- hover to show content ----*/
.pickup-header-space:hover .hover-to-show {
  display: flex !important;
  margin-top: 0 !important;
}
.pickup-body-content:hover .hover-to-show {
  display: flex !important;
  margin-top: 0 !important;
}

/*--- pickup body text ---*/
.pickup-h5-text {
  font-size: 16.4px !important;
  color: #777777;
  padding: 5px 0;
  font-family: "Ubuntu", sans-serif !important;
}
::ng-deep.mat-typography h5 {
  margin: 0 0 7px !important;
}
.pickup-h5-text i {
  font-size: 22px;
  top: 5px;
  color: #ff7979;
  position: relative;
}
.pickup-h5-text b {
  font-weight: 400 !important;
  padding-left: 6px !important;
}

/*--- pickup action ---*/
.pickup-action {
  margin: 0 3px;
  cursor: pointer;
  font-size: 22px;
}

/***************** Pickup Card Body ******************/
.pickup-body-content {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pickup-card-body {
  margin: 9px 15px 4px 36px;
}

.pickup-body-text {
  font-size: 19px !important;
  color: #292929;
  padding: 0 0;
  font-family: "Ubuntu", sans-serif !important;
}

::ng-deep.mat-typography h4 {
  margin: 0 0 0 !important;
}

.pickup-body-text i {
  font-size: 24px;
  top: 5px;
  color: #04a9f5;
  position: relative;
}
.pickup-body-text b {
  font-weight: 500 !important;
  padding-left: 4px !important;
}

/************** Add & Submit Btn *************/
.pickup-btn-group {
  margin: 13px 15px 16px 36px;
}

/***************** Bus Root UI ******************/
.but-root-body {
  margin: -1px 15px 0px 67px !important;
}
.bus-root-text {
  font-size: 15.5px !important;
  color: #afafaf;
  padding: 0 0;
  font-family: "Ubuntu", sans-serif !important;
}
::ng-deep.mat-typography h6 {
  margin: 0 0 4px !important;
}
.bus-root-text i {
  font-size: 18px;
  top: 3px;
  color: #ff7979;
  position: relative;
}
.bus-root-text b {
  font-weight: 300 !important;
  padding: 0 0 0 4px !important;
}

/***************** Add New Pickup Card ******************/
.new-pickup-card-body {
  padding: 20px 12px !important;
  margin: 0 10px !important;
}

.add-area-title {
  font-size: 19px !important;
  color: rgb(99, 99, 99);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0 !important;
  font-family: "Ubuntu", sans-serif !important;
}

.new-area-input {
  width: 100% !important;
  padding: 4px !important;
  margin: 1px 0 7 0;
  border-radius: 3px;
  background: rgb(250, 250, 250);
  border: 1px solid rgba(170, 170, 170, 0.2);
}
.new-area-input::placeholder {
  color: rgb(199, 199, 199);
  padding-left: 5px;
  font-weight: 400 !important;
  letter-spacing: 0.3px !important;
}
.new-area-input:focus {
  border: 1px solid #4fc7ff;
  box-shadow: none;
}

/**********************************************************************************
                            Transport Component css
**********************************************************************************/
/********** Add Card Button **********/
.main-add-btn {
  bottom: 25px;
  right: 25px;
  position: fixed !important;
}

/* Inside Pickup Card */
.pickup-card {
  border-radius: 5px;
  margin: 11px;
  padding: 0 !important;
  border: 0;
  box-shadow: 0 3px 5px #d8d8d8;
}

/* Pickup Header Custom HR */
hr.pickup-Header-Hr {
  margin: 0 0;
  border-top: 1px solid #e3e3e3;
}

/************** Edit UI *************/
.edit-input {
  width: 20vw;
  max-width: 100% !important;
  padding: 4px;
  margin: 7px 0;
  border-radius: 3px;
  border: 1px solid rgba(170, 170, 170, 0.2);
}
.edit-input::placeholder {
  color: rgb(199, 199, 199);
  padding-left: 5px;
  font-weight: 400 !important;
  letter-spacing: 0.3px !important;
}
.edit-input:focus {
  border: 1px solid #4fc7ff;
}

.save-button {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #04a9f5 !important;
  box-shadow: none !important;
}
.save-button i {
  font-size: 16px;
  top: -1px;
  position: relative;
}

/************** Add & Submit Btn *************/
.add-pickup-btn {
  color: #fff;
  letter-spacing: 0.5px;
  padding: 0px 15px !important;
  background-color: #04a9f5 !important;
  box-shadow: none !important;
}
.submit-pickup-btn {
  border: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.5px;
  padding: 0px 15px !important;
  background-color: #00d134 !important;
  box-shadow: none !important;
}
/************************************************************************
                            Meadia Query
************************************************************************/
@media screen and (max-width: 1600px) {
  .pickup-card-body {
    margin: 7px 15px 0px 35px;
  }
  /*--- pickup body text ---*/
  .pickup-body-text {
    font-size: 18px !important;
    padding: 3px 0;
  }
  .mat-typography h4 {
    margin: 0 0 10px !important;
  }
  .pickup-body-text i {
    font-size: 22px;
    top: 5px;
  }
  .pickup-body-text b {
    padding-left: 4px !important;
  }
  .pickup-btn-group {
    margin: 15px 15px 15px 40px;
  }

  /*********** Bus Root UI ***********/
  .but-root-body {
    margin: 5px 15px 0px 63px;
  }
  .bus-root-text {
    font-size: 15.5px !important;
  }
  .bus-root-text b {
    font-weight: 300 !important;
    padding-left: 6px !important;
  }
}

@media screen and (max-width: 1367px) {
  .pickup-card {
    margin: 10px;
  }
  .pickup-h5-text {
    font-size: 16px !important;
    padding: 6px 0;
  }
  .pickup-h5-text i {
    font-size: 20px;
    top: 4px;
  }
  .mat-typography h5 {
    margin: 1px 0 6px !important;
  }

  /*--- pickup action ---*/
  .pickup-action {
    margin: 0 2px;
    font-size: 20px;
  }
  .pickup-card-body {
    margin: 6px 15px 0px 15px;
  }
  .but-root-body {
    margin: 0 15px 0px 39px !important;
  }

  .mat-typography h6 {
    margin: 0 0 4px !important;
  }

  /*--- btn group ---*/
  .pickup-btn-group {
    margin: 13px 15px 15px 19px;
  }

  .add-area-title {
    font-size: 18px !important;
    padding: 10px 0;
  }
  .new-pickup-card-body {
    padding: 17px 10px !important;
    margin: 0 7px !important;
  }
}

@media screen and (max-width: 1180px) {
  .edit-input {
    width: 30vw;
    padding: 5px;
  }
}

@media screen and (max-width: 992px) {
  .pickup-card {
    box-shadow: 0 3px 5px #ececec;
  }
  .add-pickup-btn {
    height: 33px !important;
    padding: 0px 12px !important;
    display: flex !important;
    align-items: center !important;
  }
  .submit-pickup-btn {
    height: 33px !important;
    padding: 0px 12px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .pickup-h5-text {
    font-size: 14px !important;
    letter-spacing: 0.3px;
    padding: 5px 0;
  }
  .pickup-h5-text i {
    font-size: 19px;
    top: 4px;
  }
  .mat-typography h5 {
    margin: 1px 0 2px !important;
  }

  /*--- pickup action ---*/
  .pickup-action {
    margin: 0 4px;
    font-size: 18px;
  }
  .pickup-card-body {
    margin: 10px 15px 0px 13px;
  }

  /*--- pickup body text ---*/
  .pickup-body-text {
    font-size: 17px !important;
  }
  .mat-typography h4 {
    margin: 0 0 5px !important;
  }
  .pickup-body-text i {
    font-size: 22px;
  }
  .pickup-body-text b {
    padding-left: 5px !important;
  }
  .pickup-btn-group {
    margin: 7px 15px 15px 15px;
  }

  /*********** Bus Root UI ***********/
  .but-root-body {
    margin: 5px 15px 0px 40px;
  }
  .bus-root-text {
    font-size: 15px !important;
  }

  /*--- btn group ---*/
  .pickup-btn-group {
    margin: 13px 15px 15px 19px;
  }

  .new-pickup-card-body {
    padding: 16px 10px !important;
    margin: 0 5px !important;
  }
  .add-area-title {
    font-size: 17px !important;
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .edit-input {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .pickup-h5-text {
    font-size: 14px !important;
    letter-spacing: 0.2px;
  }
  .pickup-h5-text i {
    font-size: 18px;
  }

  .pickup-header-space {
    padding: 1px 7px;
  }
  .edit-input {
    width: 73vw;
  }

  /*--- pickup action ---*/
  .pickup-action {
    margin: 0 4px;
    font-size: 17px;
  }
  .pickup-card-body {
    margin: 5px 7px 0px 6px;
  }

  /*--- pickup body text ---*/
  .pickup-body-text {
    font-size: 16.5px !important;
  }
  .pickup-body-text i {
    font-size: 20px;
  }
  .pickup-btn-group {
    margin: 7px 11px 15px 11px;
  }

  /******** Bus Root UI *******/
  .but-root-body {
    margin: -2px 0 0 30px !important;
  }
  .bus-root-text {
    font-size: 15px !important;
  }
}
