/****************************************************************************
                                Navbar CSS
****************************************************************************/
.main-nav {
  display: flex;
  background: #4527a0;
  margin: 0;
}

.main-nav li {
  list-style: none;
  margin-right: 0px;
  padding: 20px;
}

.main-nav li:hover {
  background: #ffe23c;
}

.main-nav li:hover a {
  color: #4527a0;
}

.main-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-nav li:hover {
  cursor: pointer;
}

.outlet-body {
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
}
