<!--============== Navbar & Router-Link =======================-->
<ul class="main-nav">
  <li><a routerLink="bus-root" routerLinkActive="active">Bus-Route</a></li>
  <li><a routerLink="pickup-point" routerLinkActive="active">Pickup-Point</a></li>
  <li><a routerLink="getTimeDiff" routerLinkActive="active">get-Time-Difference</a></li>
  <li><a routerLink="matCustom" routerLinkActive="active">Mat-Custom-Element</a></li>
</ul>

<section class="outer-outlet-body">
  <router-outlet></router-outlet>
</section>
