<div class="card" style="min-height: 96.5vh; background: rgb(237, 249, 255); margin: 15px;">
  <!------------- Add Create Button ------------>
  <button mat-mini-fab color="primary" class="add-bus-root-btn">
    <i class="material-icons">add</i>
  </button>

  <!--********************************************************************************************************************************************
                                                                Complete Show Card
  *********************************************************************************************************************************************-->
  <!----- Add Row ----->
  <div class="row m-0">
    <!----- Add Column ----->
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 m-0 p-0" *ngFor="let item of [0,1]">

      <!------ Inner Card ------>
      <div class="card bus-root-card">
        <div class="bus-root-header">
          <div>
            <h5> <i class="material-icons">directions_bus</i>105-A</h5>
          </div>
          <div>

          </div>
        </div>
      </div>

    </div>
    <!--********************************************************************************************************************************************
                                                                    Add New Card
    *********************************************************************************************************************************************-->
  </div>





  <!----- Rushabh ----->
  <!-- <div style="width: 600px; margin: 0 auto;">
    <div class="valid-record">
      <div>
        <p>Valid Records : <span>43</span></p>
      </div>
      <div class="invalid-record">
        <p>Invalid Records : <span>3</span>
          <a data-toggle="modal" data-target="#exampleModal" class="view-record">
            <i class="fa fa-eye"></i> View Records</a>
        </p>
      </div>
    </div>
  </div> -->
  <!----- End ----->

</div>
