/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*****************************************************************************************************************************************
                                                        Transport Component Css
*****************************************************************************************************************************************/
/* Global Align-item-center */
.pickup-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************** Pickup Card Header ********************/
/* Inside Pickup Card */
.pickup-card {
  border-radius: 5px;
  padding-bottom: 13px;
  margin: 15px;
  border: 0;
  box-shadow: 0 3px 5px #d8d8d8;
  font-family: "Ubuntu", sans-serif !important;
}

/* Pickup Card Header */
.pickup-point-header {
  display: flex;
  cursor: pointer;
  padding: 11px 20px;
  align-items: center;
  justify-content: space-between;
}

/* Pickup Header Action Hide */
.hover-to-show {
  display: none;
}

/* Pickup Card Header Hover to Show */
.pickup-point-header:hover .hover-to-show {
  display: flex;
}

/* Pickup Edit Content */
.pickup-input {
  width: 23vw !important;
  max-width: 100%;
  height: 30px;
}
.pickup-input::placeholder {
  top: -1px;
  font-size: 14px;
  color: #b8b8b8;
  position: relative;
  letter-spacing: 0.2px;
}
.pickup-input:focus {
  outline: none;
  box-shadow: none;
}

/* Pickup Header Action Button */
.pp-action {
  margin: 0 5px;
  cursor: pointer;
}

/* Pickup Header Save Button */
.pp-save-action {
  margin: 0 5px;
  padding: 7px 2.3px;
  border-radius: 50%;
  border: 0;
  background: #04a9f5;
  display: flex;
  align-items: center;
}

/* Pickup Header Save Icon */
.pp-save-action i {
  font-size: 16px;
  color: #fff;
}

/* Pickup Header Custom HR */
hr.pickup-Header-Hr {
  margin: 0 0;
  border-top: 1px solid #e3e3e3;
}

/******************** Add & Submit Button ********************/
/* Pickup Button */
.add-pickup-btn {
  background: #04a9f5;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 5px;
}

/* Submit Button */
.add-done-btn {
  background: #00c714;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

.add-pickup-btn:hover,
.add-done-btn:hover {
  color: #fff !important;
}

/* on Focus */
.add-pickup-btn:focus {
  box-shadow: none;
}

/* Submit Button */
.add-done-btn:focus {
  box-shadow: none;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
