/**********************************************************************************
                            Transport Component css
**********************************************************************************/
/********** Add Card Button **********/
.main-add-btn {
  bottom: 25px;
  right: 25px;
  position: fixed !important;
}

/* Inside Pickup Card */
.pickup-card {
  border-radius: 5px;
  margin: 11px;
  padding: 0 !important;
  border: 0;
  box-shadow: 0 3px 5px #d8d8d8;
}

/* Pickup Header Custom HR */
hr.pickup-Header-Hr {
  margin: 0 0;
  border-top: 1px solid #e3e3e3;
}

/************** Edit UI *************/
.edit-input {
  width: 20vw;
  max-width: 100% !important;
  padding: 4px;
  margin: 4px 0;
  border-radius: 3px;
  border: 1px solid rgba(170, 170, 170, 0.2);
}
.edit-input::placeholder {
  color: rgb(199, 199, 199);
  padding-left: 5px;
  font-weight: 400 !important;
  letter-spacing: 0.3px !important;
}
.edit-input:focus {
  border: 1px solid #4fc7ff;
}

.save-button {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #04a9f5 !important;
  box-shadow: none !important;
}
.save-button i {
  font-size: 16px;
  top: -1px;
  position: relative;
}

/************** Add & Submit Btn *************/
.add-pickup-btn {
  color: #fff;
  letter-spacing: 0.5px;
  padding: 0px 15px !important;
  background-color: #04a9f5 !important;
  box-shadow: none !important;
}
.submit-pickup-btn {
  border: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.5px;
  padding: 0px 15px !important;
  background-color: #00d134 !important;
  box-shadow: none !important;
}

/************************************************************************
                            Meadia Query
************************************************************************/
@media screen and (max-width: 1600px) {
  .pickup-card-body {
    margin: 7px 15px 0px 35px;
  }
}

@media screen and (max-width: 1367px) {
  .pickup-card {
    margin: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .edit-input {
    width: 30vw;
    padding: 5px;
  }
}

@media screen and (max-width: 992px) {
  .pickup-card {
    box-shadow: 0 3px 5px #ececec;
  }
  .add-pickup-btn {
    height: 33px !important;
    padding: 0px 12px !important;
    display: flex !important;
    align-items: center !important;
  }
  .submit-pickup-btn {
    height: 33px !important;
    padding: 0px 12px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .edit-input {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .pickup-header-space {
    padding: 1px 7px;
  }
  .edit-input {
    width: 73vw;
  }
}
